name: Proto PR Checks

on:
  pull_request:
    paths:
      - "proto/**"

jobs:
  buf-checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install buf
        uses: bufbuild/buf-setup-action@v1

      - name: Buf lint
        run: buf lint

      - name: Fetch base branch
        run: |
          git fetch origin ${{ github.base_ref }}

      - name: Buf breaking
        run: |
          buf breaking proto \
            --against ".git#branch=origin/${{ github.base_ref }}"
