name: Proto PR Checks

on:
  pull_request:
    paths:
      - "proto/**"

jobs:
  buf-checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install buf
        uses: bufbuild/buf-setup-action@v1

      - name: Buf lint
        uses: bufbuild/buf-lint-action@v1
        with:
          input: proto

      - name: Buf breaking
        uses: bufbuild/buf-breaking-action@v1
        with:
          input: proto
          against: 'https://github.com/${{ github.repository }}.git#branch=${{ github.base_ref }}, subdir=proto'