name: Proto PR Checks

on:
  pull_request:
    paths:
      - "proto/**"
      - "buf.yaml"
      - "buf.gen.yaml"
      - "buf.lock"

jobs:
  buf-checks:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Buf Schema Checks (lint + breaking)
        uses: bufbuild/buf-action@v1
        with:
          input: proto
          lint: true
          breaking: true
          format: true
          breaking_against: 'https://github.com/${{ github.repository }}.git#branch=${{ github.base_ref }},subdir=proto'