name: Proto PR Checks

on:
  pull_request:
    paths:
      - "proto/**"

jobs:
  buf-checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install buf
        uses: bufbuild/buf-setup-action@v1

      - name: Buf lint
        run: buf lint

      - name: Buf breaking
        run: |
          buf breaking --against '.git#branch=main'
